.objectBox {
	border-radius: 7px;
	width: 90%;
	background-color: white;
	border-style: solid;
	border-color: #D3D3D3;
	padding: 15px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.objectBoxColapse {
	height: 175px;
}

body {
	background-color: #F5F5F5;
	box-sizing: border-box;
	float: left;
	padding-top: 75px;
}

.head {
	text-align: right;
}

.header {
	background-color: #4169E1;
	margin: 0px;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}